<div class="nav">
  <div class="nav-container">
    <div class="div-logo">
        <img src="/img/logo-small.svg" />
      <span>ImageUpload</span>
    </div>
    <div class="div-button-theme">
      <button id="button-theme" aria-label="Toggle theme" class="btn-custom">
        <img id="mode-icon" src="/img/Moon_fill.svg" />
      </button>
    </div>
  </div>
</div>
